<div id="<%= dom_id departamento %>">
  <p>
    <strong>Clave:</strong>
    <%= departamento.clave %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= departamento.nombre %>
  </p>

  <p>
    <strong>Nivel:</strong>
    <%= departamento.nivel %>
  </p>

</div>
