<div id="<%= dom_id centro %>">
  <p>
    <table class="table">
  <thead>
    <tr>
    <strong>Clave:</strong>
    <%= centro.clave %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= centro.nombre %>
  </p>

</div>